/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* Added padding for better spacing */
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #29d66e;
    color: #000000;
    padding: 10px;
    display: right;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition on hover */
}

nav ul li a:hover {
    color: #ccebff; /* Lighter blue on hover */
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Chat Section Styles */
.chat-container {
    height: 300px;
    width: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#chat-form {
    display: flex;
}

#chat-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#chat-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #0056b3; /* Changed to a darker blue */
    color: #0e0d0d;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


